<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Management</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h3>Employee CRUD Application</h3>
        <ul class="link-list">
            <li><a href="createPage">Create New Employee</a></li>
            <li><a href="updatePage">Update Employee</a></li>
            <li><a href="deletePage">Delete Employee</a></li>
            <li><a href="searchPage">Search Employee</a></li>
            <li><a href="viewAll">View All Employees</a></li>
        </ul>
    </div>
</body>
</html>
