<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Employee list</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div class="container">
			<h1>Employee List:</h1>
			<table border ="1">
				<thead>
				<tr>	
					<th>Id</th>
					<th>Name</th>
					<th>Department</th>
					<th>Salary</th>
				<tr>
			</thead>
			<tbody>
				<tr th:each = "emp : ${empList}"> <!-- This is the loop to fetch all the data because we having a more data in the table -->
					<td th:text = "${emp.id}"></td>
					<td th:text = "${emp.name}"></td>
					<td th:text = "${emp.department}"></td>
					<td th:text = "${emp.salary}"></td>
				</tr>
			</tbody>
			</table>
		</div>
	</body>
</html>